/**
 * Tabbed Styles
 */

#tabbed-container {
  z-index: 6;
  border-bottom: 1px solid #ddd;
  display: none;
}

#tabbed-container > label.tabbed-tab {
  height: 1.5em;
}

#tabbed-container .form-actions .form-submit {
  clear: both;
  margin: 1em 0;
}

#tabbed-container > input.visible {
  visibility: visible !important;
}

#tabbed-container label.tabbed-tab {
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  padding: 0 0.6em;
  margin: 0 0.5em 0 0;
  border-radius: 6px 6px 0 0;
}

#tabbed-container > input:hover + label {
  background: #ddd;
}

#tabbed-container > input:checked + label {
  background: #ccc;
  position: relative;
}

#tabbed-container > input:focus + label {
  background: #aaa;
  -webkit-box-shadow:inset 0px 0px 4px 1px #82befb;
  -moz-box-shadow:inset 0px 0px 4px 1px #82befb;
  box-shadow:inset 0px 0px 4px 1px #82befb;	
}

#tabbed-container .next,
#tabbed-container .previous {
  float: right;
 margin-left: 2em;
  padding: 0 0.6em;;
  background: #ddd;
  border-radius: 6px;
}

#tabbed-container .next:hover,
#tabbed-container .previous:hover {
  background: #ccc;	
}

#tabbed-container .next a,
#tabbed-container .previous a {
  color: #000;
}

#tabbed-container .next a:hover,
#tabbed-container .previous a:hover {
  text-decoration: none;
}

#tabbed-content {
	position: relative;
	width: 100%;
}

#tabbed-content > div {
  margin-top: 1.5em;
	opacity: 0;
	width: 100%;
	position: absolute;
	z-index: -100;
	transition: all 0.1s ease-in-out;
}

#tabbed-content .col1,
#tabbed-content .col2 {
  width: 50%;
  float: left;
}

/**
 * Accordion Styles
 */

#accordion-container {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	transform: translateZ(0);
}

#accordion-container > label {
	position: relative;
	display: block;
	padding: 0 20px;
	border-top: 1px solid #ddd;
	cursor: pointer;
}

#accordion-container #accordion-content-1,
#accordion-container #accordion-content-2,
#accordion-container #accordion-content-3,
#accordion-container #accordion-content-4,
#accordion-container #accordion-content-5,
#accordion-container #accordion-content-6,
#accordion-container #accordion-content-7,
#accordion-container #accordion-content-8 {
	max-height: 0;
	transition: max-height 1s cubic-bezier(0.02, 1, 0.34, 0.98);
	overflow: hidden;
  padding: 0 20px;
}

#accordion-container #accordion-1:checked ~ #accordion-content-1,
#accordion-container #accordion-2:checked ~ #accordion-content-2,
#accordion-container #accordion-3:checked ~ #accordion-content-3,
#accordion-container #accordion-4:checked ~ #accordion-content-4,
#accordion-container #accordion-5:checked ~ #accordion-content-5,
#accordion-container #accordion-6:checked ~ #accordion-content-6,
#accordion-container #accordion-7:checked ~ #accordion-content-7,
#accordion-container #accordion-8:checked ~ #accordion-content-8 {
  max-height: 4000px;
  transition: max-height 0.5s cubic-bezier(1, 0.02, 0.98, 0.34);
}

#tabbed-container > input#tabbed-2-1:checked ~ #tabbed-content #tabbed-content-1,
#tabbed-container > input#tabbed-2-2:checked ~ #tabbed-content #tabbed-content-2,
#tabbed-container > input#tabbed-3-1:checked ~ #tabbed-content #tabbed-content-1,
#tabbed-container > input#tabbed-3-2:checked ~ #tabbed-content #tabbed-content-2,
#tabbed-container > input#tabbed-3-3:checked ~ #tabbed-content #tabbed-content-3,
#tabbed-container > input#tabbed-4-1:checked ~ #tabbed-content #tabbed-content-1,
#tabbed-container > input#tabbed-4-2:checked ~ #tabbed-content #tabbed-content-2,
#tabbed-container > input#tabbed-4-3:checked ~ #tabbed-content #tabbed-content-3,
#tabbed-container > input#tabbed-4-4:checked ~ #tabbed-content #tabbed-content-4,
#tabbed-container > input#tabbed-5-1:checked ~ #tabbed-content #tabbed-content-1,
#tabbed-container > input#tabbed-5-2:checked ~ #tabbed-content #tabbed-content-2,
#tabbed-container > input#tabbed-5-3:checked ~ #tabbed-content #tabbed-content-3,
#tabbed-container > input#tabbed-5-4:checked ~ #tabbed-content #tabbed-content-4,
#tabbed-container > input#tabbed-5-5:checked ~ #tabbed-content #tabbed-content-5,
#tabbed-container > input#tabbed-6-1:checked ~ #tabbed-content #tabbed-content-1,
#tabbed-container > input#tabbed-6-2:checked ~ #tabbed-content #tabbed-content-2,
#tabbed-container > input#tabbed-6-3:checked ~ #tabbed-content #tabbed-content-3,
#tabbed-container > input#tabbed-6-4:checked ~ #tabbed-content #tabbed-content-4,
#tabbed-container > input#tabbed-6-5:checked ~ #tabbed-content #tabbed-content-5,
#tabbed-container > input#tabbed-6-6:checked ~ #tabbed-content #tabbed-content-6,
#tabbed-container > input#tabbed-7-1:checked ~ #tabbed-content #tabbed-content-1,
#tabbed-container > input#tabbed-7-2:checked ~ #tabbed-content #tabbed-content-2,
#tabbed-container > input#tabbed-7-3:checked ~ #tabbed-content #tabbed-content-3,
#tabbed-container > input#tabbed-7-4:checked ~ #tabbed-content #tabbed-content-4,
#tabbed-container > input#tabbed-7-5:checked ~ #tabbed-content #tabbed-content-5,
#tabbed-container > input#tabbed-7-6:checked ~ #tabbed-content #tabbed-content-6,
#tabbed-container > input#tabbed-7-7:checked ~ #tabbed-content #tabbed-content-7,
#tabbed-container > input#tabbed-8-1:checked ~ #tabbed-content #tabbed-content-1,
#tabbed-container > input#tabbed-8-2:checked ~ #tabbed-content #tabbed-content-2,
#tabbed-container > input#tabbed-8-3:checked ~ #tabbed-content #tabbed-content-3,
#tabbed-container > input#tabbed-8-4:checked ~ #tabbed-content #tabbed-content-4,
#tabbed-container > input#tabbed-8-5:checked ~ #tabbed-content #tabbed-content-5,
#tabbed-container > input#tabbed-8-6:checked ~ #tabbed-content #tabbed-content-6,
#tabbed-container > input#tabbed-8-7:checked ~ #tabbed-content #tabbed-content-7,
#tabbed-container > input#tabbed-8-8:checked ~ #tabbed-content #tabbed-content-8 {
  opacity: 1;
  z-index: 100;
}
